.label {
    margin-top: 5px;
    margin-bottom: 35px;
    color: var(--primary-color);
    font-size: 15px;
}

.label a {
    cursor: pointer;
}

.field {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin-bottom: 30px;
}

.fieldInactive {
    background-color: transparent;
}

.fieldActive {
    outline: 2px solid var(--primary-color);
    color: black;
}

.input {
    width: 100%;
    margin-bottom: 25px;
}