.block {
    padding-left: 10%;
    padding-right: 5%;
    grid-template-columns: 60% 40%;
}

.section {
    margin: 5% 0;
}

.section b {
    font-size: 21px;
    font-style: italic;
}

.section small,
input[type=file] {
    color: var(--primary-color);
    font-size: 14px;
}

.inline {
    display: flex;
}

.button {
    margin-left: 10px;
}

.section label {
    display: flex;
    height: 2.2rem;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.section label img {
    height: 80%;
    margin-left: 5%;
}

.fileUpload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--card-background);
    border-radius: 10px;
}

input[type=file] {
    border: none;
    padding: 0;
    padding-top: 10px;
}

input[type=file]::file-selector-button {
    display: none;
}

.textInput {
    width: 70%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    margin-top: 2rem;
    text-align: center;
}